.transactionhistory {
    table-layout: fixed;
    width: 800px;
    border: 3px solid bisque;
    margin: 0 auto;
}
th,
td {
    color: #212121;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: burlywood;
}
.thead {
    background-color: blanchedalmond;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.type {
    text-transform: capitalize;
}
